<?xml version="1.0" encoding="UTF-8"?>
<config>
    <fonts>
        <time>time_font.png</time>
        <main>Dangen_charset_6x12.png</main>
    </fonts>
    <bootlogo pause="120">bootlogo.gif</bootlogo>
    <playlist>
        <playitem name="Example 1" path="http://url.to/stream"/>
        <playitem name="Example 2" path="http://url.to/stream"/>
    </playlist>
</config>
